body,
html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100vw;
}

.accueil{
    background-image: url(../asset/images/Back1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: #00000096;
    height: 100vh;
    width: 100%;
    padding: 40px 0;
}

/* Style pour la barre de navigation */
.accueil .container .navbar{
    background-color: #7d990031;
    padding: 3px 10px;
    border-radius: 10px;
}
.accueil .container .navbar .logo img{
    width: 90px;
    border-radius: 50%;
}

.accueil .container .navbar ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.accueil .container .navbar .btn{
    background-color: #7d9900;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 40px;
}

/* Menu burger*/
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
  
.burger-menu .line {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 3px 0;
}
  
.nav-links {
    list-style: none;
    display: flex;
    z-index: 9999;
}
  
.nav-links li {
    margin: 0 10px;
}
  
.nav-links a {
    color: #fff;
    text-decoration: none;
}

/* Style de l'aperçu */
.accueil .container .apercu{
    margin: 100px;
    position: relative;
}

.accueil .container .apercu h1{
    font-size: 100px;
    text-align: center;
    color: #fff;
    font-weight: 900;
}

.accueil .container .apercu h1 span{
    color: #7d9900;
}

.accueil .container .apercu .textcontent{
    border: 5px solid #fff;
    padding: 80px;
    border-radius: 5px;
    text-align: center;
}

.accueil .container .apercu div p{
    font-size: 35px;
    color: #fff;
}

.accueil .container .apercu a{
    text-decoration: none;
    color: #fff;
    background-color: #7d9900;
    position: absolute;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 18px;
    margin-top: -25px;
}

/* Style de la section About */
.about{
    background-color: #7d990042;
}

.about .container .content{
    padding: 40px;
    text-align: center;
}

.about .container .content h1{
    font-size: 35px;
    color: #7d9900;
}

.about .container .content p{
    color: #000;
}

.about .container .content a{
    text-decoration: none;
    color: #fff;
    background-color: #7d9900;
    padding: 8px 16px;
    border-radius: 3px;
    font-size: 16px;
}

/* Style de la section Mission */
.mission{
    background-color: #7d9900;
}

.mission .container .content{
    padding: 40px;
    text-align: center;
}

.mission .container .content h1{
    font-size: 35px;
    color: #f6ffcd;
}

.mission .container .content p{
    color: #fff;
    text-align: left;
}

.mission .container .content a{
    text-decoration: none;
    color: #ffffff;
    background-color: #ffcc00;
    padding: 8px 16px;
    border-radius: 3px;
    font-size: 16px;
    box-shadow: 0 0 8px #5c7000;
}

/* Style de la section Projets */
.projets{
    background-color: #7d990015;
}
.projets .container .content{
    padding: 10px;
    text-align: center;
}

.projets .container .content h1{
    font-size: 35px;
    color: #000;
}

.projets .container .content a{
    text-decoration: none;
    color: #ffffff;
    background-color: #ff9100;
    padding: 7px 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 15px;
    box-shadow: 0 0 2px #5c7000;
}

.projets .container .pbox{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 1px #cacaca;
}

.projets .container .pbox .icon p{
    background-color: #ff9100;
    color: #fff;
    font-size: 18px;
    padding: 6px 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 0 2px #646464;
}

.projets .container .pbox h5{
    color: #7d9900;   
}

.projets .container .pbox p{
    text-align: left;
    color: #000000;
}

/* Style de la section Réalisations */
.real{
    background-color: #f6ffcd;
}

.real .container .content{
    padding: 10px;
    text-align: center;
}

.real .container .content h1{
    font-size: 35px;
    color: #7d9900;
}

.real .container .content button{
    text-decoration: none;
    color: #ffffff;
    background-color: #ffcc00;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    box-shadow: 0 0 5px #5c7000;
}

.real .container .content .rbox{
    background-color: #7d9900;
    padding: 15px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 0 0 6px #636363;
}

.real .container .content .rbox img{
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 0 0 3px #8d8d8d;
}

.real .container .content .rbox h5{
    font-size: 19px;
    color: #fff;
    margin-top: 10px;
}

.real .container .content .rbox p{
    text-align: left;
    color: #dfdfdf;
}

.real .illustre{
    width: 100%;
    max-width: 100vw;
    padding: 50px;
}

.real .illustre img{
    border: 15px solid #7d9900;
    border-radius: 10px;
}

 /* Style pour le formulaire de contact */
.contact{
    padding: 40px;
    background-image: url(images/Back1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #5b7000e1;
}

.contact .container .form-box{
    background-color: #7d9900;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px #000000;
    text-align: center;
}

.contact .container .form-box h2{
    color: #fff;
}
.contact .container .form-box .input-box{
    position: relative;
    width: 100%;
    height: 30px;
    border-bottom: 2px solid #5c7000;
    margin: 30px 0;
}

.contact .container .form-box p{
    color: #fff;
}

.contact .container .input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.contact .container .input-box input:focus~label,
.contact .container .input-box input:valid~label{
    top: -5px;
}

.contact .container .input-box textarea:focus~label,
.contact .container .input-box textarea:valid~label{
    top: -5px;
    border: none;
}

.contact .container .input-box input,
.contact .container .input-box textarea{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #000;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.contact .container .btn{
    width: 100%;
    background: #ffcc00;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    box-shadow: 0 0 10px #5c7000;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 40px 0;
}

footer .container .newsletter{
    border: 2px solid #4b4b4b;
    border-radius: 60px;
    padding: 10px 25px;
}

footer .container .newsletter img{
    width: 90px;
    border-radius: 50%;
}

footer .container .newsletter input{
    padding: 8px 30px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    outline: none;
    border: none;
}

footer .container .newsletter button{
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 8px 10px;
    background-color: #ffcc00;
    color: #fff;
}

footer .container .foot h4{
    font-size: 25px;
    color: #ffcc00;
}

footer .container .foot p i{
    color: #ffcc00;
    font-size: 20px;
}

footer .container .text{
    text-align: center;
}

.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s ease ,height .2s ease;
    z-index: 9999;
}

.wrapper .container .content{
    padding: 100px;
}

.wrapper button{
    border: none;
    background-color: #7d9900;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;

}

.formavis{
    background-color: #fff;
    padding: 50px;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 0 8px #2c2c2c;
}

.formavis h3{
    color: #7d9900;
    text-align: center;
}

.formavis .inputbox{
    border-bottom: 1px solid #7d9900;
    margin-bottom: 20px;
}

.formavis .inputbox input,
.formavis .inputbox textarea{
    width: 100%;
    border: none;
    outline: none;
}

.formavis .inputbox label{
    text-align: left;
    color: #000;
    font-weight: 600;
}

.formavis button{
    background-color: #7d9900;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.avisbox{
    background-color: #7d9900;
    padding: 50px;
    height: 70vh;
    width: 70%;
    overflow-y: scroll;
    border-radius: 20px;
    box-shadow: 0 0 8px #2c2c2c;
}

.avisbox h4{
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.avisbox .avis{
    background-color: #ffffffd7;
    margin-bottom: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    padding: 15px;
}

.avisbox .avis p i{
    font-size: 30px;
}

.avisbox .avis div h6{
    font-size: 14px;
}

.avisbox .avis div .comment p{
    font-size: 10px;
}

@media (max-width: 768px) {
    .burger-menu {
      display: flex;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #7d9900;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .nav-links li {
      text-align: center;
      margin: 10px 0;
    }

    .accueil .container .navbar .logo img{
        width: 60px;
    }

    .accueil .container .navbar .btn{
        font-size: 10px;
    }

    .accueil .container .apercu{
        margin: 50px;
    }

    .accueil .container .apercu h1{
        font-size: 50px;
    }

    .accueil .container .apercu .textcontent{
        padding: 20px;
    }
    
    .accueil .container .apercu div p{
        font-size: 25px;
        color: #fff;
    }

    .wrapper .container .content{
        padding: 10px;
    }

    .formavis{
        width: 100%;
    }

    .avisbox{
        display: none;
    }

    footer .container .newsletter img{
        width: 60px;
    }
    
    footer .container .newsletter input{
        padding: 3px 8px;
    }

    footer .container .newsletter button{
        padding: 3px 10px;
    }
}
